<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>MSA Incidents</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <!-- d3 JavaScript -->
    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->

</head>
<body>
    <div class="container-fluid">
        <h1>MSA</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>Select State:</h5>
                    <select id="selDataset"></select>
                </div>
            </div>
            <div class="col-md-10">
                <div id="plotly"></div>
            </div>
        </div>
    </div>
    <!-- The div where we will inject our map -->
    <div>
        <div id="map"></div>
    </div>    

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Marker Cluster JS -->
  <!-- <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script> -->
  <!-- Extra Leaflet -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/leaflet-providers.js') }}"></script>
  <!-- API key -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/config.js') }}"></script>
  <!-- Main JavaScript file -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/index.js') }}"></script>
  <!-- Marker Cluster JS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
  <!-- Leaflet MarkerCluster LayerSupport -->
  <script src="https://unpkg.com/leaflet.markercluster.layersupport@2.0.1/dist/leaflet.markercluster.layersupport.js"></script>
</body>
</html>