<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    
     
    <!-- Icons -->
   <!-- <script src="static/js/leaflet.extra-markers.min.js"></script> -->
     
    <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
   <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
     
   <!-- API Key -->
   <!-- <script type="text/javascript" src="static/js/config.js"></script> -->
     
   <!-- Our JavaScript -->
   <!-- <script type="text/javascript" src="static/js/logic.js"></script> -->
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css"> -->

    <title>MSA Project</title>
    <!-- STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.css') }}" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="{{ url_for('static', filename = 'css/font-awesome-animation.css') }}" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <!-- <link href="assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" /> -->
    <!-- SIDE MENU STYLE CSS -->
    <link href="{{ url_for('static', filename = 'css/component.css') }}" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  
</head>

<body class="cbp-spmenu-push">

    <!-- MAIN HEADING-->
    <div class="for-full-back color-bg-one" id="main-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 class="pad-adjust">Mass Shooting in America</h1>
                </div>
            </div>
        </div>
    </div>
    <!--END MAIN HEADING-->
   
    <!--HOME SECTION-->
    <div class="container" id="home">
        <div class="row text-center">
            <div class="col-md-12">
                <span class="head-main">Mass Shootings in the US</span>
                <h2 class="head-sub-main">Data Analytics and visualization</h2>
                <a href="#about-sec" class="btn btn-danger btn-lg head-btn-one">Our Team</a></a>
            </div>
        </div>
    </div>
    <!--END HOME SECTION-->

    <!--ABOUT SECTION-->
    <section class="for-full-back color-bg-one" id="about-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Project Description</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h4>
                            <strong>Our task is to create a web-based dashboard application using Leaflet or Plotly. Our application runs off of Flask, and we used web scraping to extract our data.
                            </strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="for-full-back color-white" id="about-team">
        <div class="container">
            <div class="row text-center g-pad-bottom">
                <div class="col-md-8 col-md-offset-2 ">
                    <h3>OUR TEAM PROFILE</h3>
                </div>

            </div>
            <div class="row text-center g-pad-bottom">
                <div class="col-md-12 ">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <img src="{{ url_for('static', filename = 'img/team/1.png') }}" alt="">
                            <h3><strong>John Eagan </strong></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <img src="{{ url_for('static', filename = 'img/team/2.png') }}" alt="">
                            <h3><strong>Kelvyn Guzman </strong></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <img src="{{ url_for('static', filename = 'img/team/3.png') }}" alt="">
                            <h3><strong>Jeremy Strauch </strong></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <img src="{{ url_for('static', filename = 'img/team/4.png') }}" alt="">
                            <h3><strong>Ryan Sabon </strong></h3>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row g-pad-bottom">
                
            </div>

        </div>
    </section>
    <!--END ABOUT SECTION-->

    <!--Mass Shooting Rates Section-->
    <section class="for-full-back color-bg-one" id="MassShootingRates-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Mass Shooting Rates</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                    </div>
                </div>
            </div>
        </div>
        <section class="for-full-back color-white" id="MassShootingRates-sec">
            <div class="container">
                <!--ADD CODE HERE-->
                <div class="row text-center g-pad-bottom">
                    <div class="col-md-8 col-md-offset-2 ">
    </section>

     <!--Mass Shooting Rates By State Section-->
     <section class="for-full-back color-bg-one" id="MassShootingRatesByState-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Mass Shooting Rates By State</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                    </div>
                </div>
            </div>
        </div>
        <section class="for-full-back color-white" id="MassShootingRatesByState-sec">
            <div class="container">
                <!--ADD CODE HERE-->
                <div class="row text-center g-pad-bottom">
                    <div class="col-md-8 col-md-offset-2 ">
    </section>

     <!--Mass Shooting Across the Country Section-->
     <section class="for-full-back color-bg-one" id="MassShootingAcrosstheCountry-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Mass Shooting Across the Country</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                    </div>
                </div>
            </div>
        </div>
        <section class="for-full-back color-white" id="MassShootingAcrosstheCountry-sec">
            <div class="container">
                <!--ADD CODE HERE-->
                <!-- The div where we will inject our map -->
                <!-- <div id="map" style="height: 100%;"></div> -->
                <div class="row text-center g-pad-bottom">
                    <div class="col-md-8 col-md-offset-2 ">
    </section>
    <!-- The div where we will inject our map -->
    <div class="container">
        <div id="map" style="height: 100%;"></div>
    </div>
    


    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <!-- <script src="assets/plugins/jquery-1.10.2.js"></script> -->
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <!-- <script src="assets/plugins/bootstrap.js"></script> -->
    <!-- <script src="{{ url_for('static', filename = 'js/app.js') }}"></script> -->
    <!-- CUSTOM SCRIPTS -->
    <!-- <script src="{{ url_for('static', filename = 'js/app2.js') }}" ></script>    -->
    
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    
    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Extra Leaflet -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/leaflet-providers.js') }}"></script>
    <!-- API key -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/config.js') }}"></script>
    <!-- Main JavaScript file -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/index.js') }}"></script>

</body>
</html>
